
body {
    font: 25px Verdana;
    color: black;
}
.navbar {
    background-color: #CED8F6;
}
.historia {
    background-color: #E0E6F8;
}
.margin {
    padding-bottom: 50px;
    padding-top: 20px;
}
.principais-tipos {
    background-color: #E6E0F8;
}
.funcoes {
    background-color: #FBEFF2;
}
.footer {
    background-color: #BDBDBD;
}
